.heading {
  text-align: center;
  font-size: 40px;
  background-color: violet;
  height: 80px;
  padding-top: 20px;
  text-shadow: 2px 2px 0px white;
  font-style: normal;
  font-weight: bolder;
}

body {
  background-color: rgb(243, 193, 243);
}

.numbers {
  height: 30px;
  width: 35%;
  display: block;
  margin: auto;
}

.random {
  cursor: pointer;
  display: block;
  margin: auto;
  height: 30px;
  width: 25%;
}

.buttons {
  cursor: pointer;
  text-align: center;
}